<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Kanban Board</title>
    <style>
        #board {
            display: table;
            margin: 0;
            padding: 0;
            border-spacing: 5px;
        }
        .section {
            display: table-cell;
            margin: 0;
            border: 1px solid #666;
            padding: 5px;
            width: 300px;
        }
        .section.droppable {
            border: 1px dashed #666;
        }
        .section > h1 {
            margin: 0;
            border-bottom: 1px solid #999;
            padding: 0;
            font-size: 12pt;
            text-align: center;
        }
        .card {
            display: inline-block;
            vertical-align: top;
            margin: 10px 5px;
            padding: 10px;
            width: 100px;
            /* height: 100px; */
            color: black;
            background: #ff8;
            cursor: move;
            text-align: center;
            font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            box-shadow: 2px 2px 2px #eee;
        }

        .card_delete .card_save {
            position: relative;
            padding: 5px 15px;
            /* top: 0px;
            right: 0px; */
            font-size: 12px;
        }
    </style>
</head>
<body>
    <h1>Kanban Board</h1>
    
    <div id="board">
        <div id="section0" class="section" title="0">
            <h1>Applied</h1>
            <!-- <div id="c2" class="card">
                <button class="card_delete" >delete</button><br>
                Make Killer App
                
            </div> -->
        </div>
        <div id="section1" class="section" title="1">
            <h1>Phone Screen</h1>
        </div>
        <div id="section2" class="section" title="2">
            <h1>On Site</h1>
        </div>
        <div id="section3" class="section" title="3">
            <h1>Offered</h1>
        </div>
        <div id="section4" class="section" title="4">
            <h1>Accepted</h1>
        </div>
        <div id="section5" class="section" title="5">
            <h1>Rejected</h1>
        </div>
    </div>

    <form action="/action_page.php">
        <label for="name">Name:</label>
        <input type="text" id="candidate_name"><br><br>
        <label for="email">Email Address:</label>
        <input type="text" id="candidate_email"><br><br>
        <label for="comment">Comment:</label>
        <input type="text" id="candidate_comment"><br><br>
        <input id="add_btn" type="submit" value="Submit">
    </form>

    <script src='/javascripts/jquery-3.2.1.min.js'></script>
    <script>
        // var cards = document.querySelectorAll('.card');

        // for (var i = 0, n = cards.length; i < n; i++) {
        //     var card = cards[i];
        //     card.draggable = true;
        // };

        for(let i=0 ; i<6 ; i++) {
            var section_id = 'section' + i.toString();
            var section = document.getElementById(section_id);
            
            var CardList = JSON.parse("{{CardsFromBack|json}}".replace(/&quot;/g,'"'));
            for(let j=0 ; j<CardList[i].length ; j++) {
                var card_id = "card_" + CardList[i][j].id.toString();
            
                addCard(section, CardList[i][j]);
            }
        }

        var board = document.getElementById('board');

        var hideMe;

        board.onselectstart = function(e) {
            e.preventDefault();
        }

        board.ondragstart = function(e) {
            console.log('dragstart');
            hideMe = e.target;
            e.dataTransfer.setData('card', e.target.id);
            e.dataTransfer.effectAllowed = 'move';
        };

        board.ondragend = function(e) {
            e.target.style.visibility = 'visible';
        };

        var lastEneterd;

        board.ondragenter = function(e) {
            console.log('dragenter');
            if (hideMe) {
                hideMe.style.visibility = 'hidden';
                hideMe = null;
            }
            // Save this to check in dragleave.
            lastEntered = e.target;
            var section = closestWithClass(e.target, 'section');
            // TODO: Check that it's not the original section.
            if (section) {
                section.classList.add('droppable');
                e.preventDefault(); // Not sure if these needs to be here. Maybe for IE?
                return false;
            }
        };

        board.ondragover = function(e) {
            // TODO: Check data type.
            // TODO: Check that it's not the original section.
            if (closestWithClass(e.target, 'section')) {
                e.preventDefault();
            }
        };

        board.ondragleave = function(e) {
            // FF is raising this event on text nodes so only check elements.
            if (e.target.nodeType === 1) {
                // dragleave for outer elements can trigger after dragenter for inner elements
                // so make sure we're really leaving by checking what we just entered.
                // relatedTarget is missing in WebKit: https://bugs.webkit.org/show_bug.cgi?id=66547
                var section = closestWithClass(e.target, 'section');
                if (section && !section.contains(lastEntered)) {
                    section.classList.remove('droppable');
                }
            }
            lastEntered = null; // No need to keep this around.
        };

        board.ondrop = function(e) {
            var section = closestWithClass(e.target, 'section');
            var id = e.dataTransfer.getData('card');
            if (id) {
                var card = document.getElementById(id);
                // Might be a card from another window.
                if (card) {
                    if (section !== card.parentNode) {
                        section.appendChild(card);
                        dropNewSection(card, section);
                    }
                } else {
                    alert('couldn\'t find card #' + id);
                }
            }
            section.classList.remove('droppable');
            e.preventDefault();
        };

        function closestWithClass(target, className) {
            while (target) {
                if (target.nodeType === 1 &&
                    target.classList.contains(className)) {
                    return target;
                }
                target = target.parentNode;
            }
            return null;
        }

        function dropNewSection(card, section) {
            var section_id = section.title;
            var card_id = card.id;

            $.ajax({
                url: "/drop",
                method: "PUT",
                data: { card_id: card_id, section_id: section_id}
            }).done(function( data ) {
                if ( data ) {
                    if(data.status == 'error') {
                        console.log("drop error");
                    }
                }
            });
        }

        document.getElementById('add_btn').onclick = function(event){
            event.preventDefault();
            var name = document.getElementById('candidate_name').value;
            var email = document.getElementById('candidate_email').value;
            var comment = document.getElementById('candidate_comment').value;
            console.log(name);
            if(!name || !email || !comment){ 
                // html.show("please finish all the blankets");
                console.log("blank")
            }
            else{ 
                $.ajax({
                    url: "/",
                    method: "POST",
                    data: { name: name, email: email, comment: comment}
                }).done(function( data ) {
                    console.log(data)
                    if (data && data.status == "success") {
                        var card_id = "card_" + data.message.toString();
                        var firstSection = document.getElementById('section0');

                        var cur_card = {
                            name: name,
                            id: data.message,
                            comment: comment,
                            email: email
                        };

                        addCard(firstSection, cur_card);
                    }
                });
            }
        };    

        function addCard(section, card) {
            var new_card = document.createElement("div");
            new_card.setAttribute('id', "card_" + card.id.toString());
            new_card.setAttribute('class', 'card');
        //     <label for="name">Name:</label>
        // <input type="text" id="candidate_name"><br><br>
            var info = document.createElement("form");

            var nametag = document.createElement("label");
            nametag.innerText = "Name: " + card.name;
            info.appendChild(nametag);
            info.appendChild(document.createElement("br"));

            var emailtag = document.createElement("label");
            emailtag.innerText = "Email: " + card.email;
            info.appendChild(emailtag);
            info.appendChild(document.createElement("br"));

            new_card.appendChild(info);
            new_card.appendChild(document.createElement("br"));

            

            var btn = document.createElement("button");
            btn.setAttribute('class', 'card_save');   
            btn.setAttribute('title', card.id.toString()); 
            btn.innerText = "Save";
            new_card.appendChild(btn);

            var btn = document.createElement("button");
            btn.setAttribute('class', 'card_delete');   
            btn.setAttribute('title', card.id.toString()); 
            btn.innerText = "Delete";
            new_card.appendChild(btn);

            new_card.draggable = true;
            section.appendChild(new_card);
        }

        $(".card_delete").on('click', function(event){
            event.preventDefault();
            var curItem = $(this);
            var id = $(this).attr("title");
            
            $.ajax({
                url: "/delete",
                method: "PUT",
                data: { delete_id: id }
            }).done(function( data ) {
                if(data && data.status == "success") {
                    console.log("fine");
                    curItem[0].parentNode.remove();
                } else {
                    console.log("delete error")
                }
            });
        });

        $(".card_delete").on('click', function(event){
            event.preventDefault();
            var curItem = $(this);
            var id = $(this).attr("title");
            
            $.ajax({
                url: "/delete",
                method: "PUT",
                data: { delete_id: id }
            }).done(function( data ) {
                if(data && data.status == "success") {
                    console.log("fine");
                    curItem[0].parentNode.remove();
                } else {
                    console.log("delete error")
                }
            });
        });
    </script>
</body>
</html>